/*Center the landing page card responsively*/
#landingCard {
background-image: url('https://image.freepik.com/free-photo/old-parchment-paper-banner-texture_118047-2571.jpg');
box-shadow: 0 0 25px black;
width: 500px;
margin: 150px auto;
border: groove;
color:black;
font-size: large;
font-weight: bold;
text-align: center;
}

h3 {
  font-family: 'Lora', serif;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('Assets/background-image.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
}

/* For results.html */
.nav-wrapper {
  background-color: antiquewhite;
  font-family: 'Lora', serif;
}

#map {
  width: 100%;
  height: 300px;
}